@charset "utf-8";

* {
    margin:0;
    padding:0;
    color:#333;
    font-family: 'NanumGothic';
}
*::selection {background:#333;}
html, body {
    background:#ededed;
}
a {
    text-decoration:none;
    color:#333;
    display:block;
}
li {
    list-style:none;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('../css/font/NanumGothicBold.eot');
    src: url('../css/font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
        url('../css/font/NanumGothicBold.woff2') format('woff2'),
        url('../css/font/NanumGothicBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('../css/font/NanumGothic.eot');
    src: url('../css/font/NanumGothic.eot?#iefix') format('embedded-opentype'),
        url('../css/font/NanumGothic.woff2') format('woff2'),
        url('../css/font/NanumGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Racing Sans One';
    src: url('../css/font/RacingSansOne-Regular.eot');
    src: url('../css/font/RacingSansOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../css/font/RacingSansOne-Regular.woff2') format('woff2'),
        url('../css/font/RacingSansOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}