@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {margin:0; padding:0;}
li {list-style:none;}
a {text-decoration:none; color:#333; display:block;}
img {display:block;}
html, body {font-size:20px;}

/* header S */
header {
    height:150px;
    position:fixed;
    left:0;
    top:0;
    z-index:9999;
    width:100%;
    transition:.5s;
}
.h_wrap {
    max-width:1400px;
    width:100%;
    height:100%;
    margin:0 auto;
    position:relative;
}
.logo {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
}
.pc {
    font-family: 'Roboto', sans-serif;
}
.depth01 {
    text-align:right;
    padding-top:60px;
    margin-right:10%;
}
.depth01>li{
    display:inline-block;
    vertical-align:top;
    font-size:0.8rem;
    width:10%;
    text-align:center;
    letter-spacing:-1px;
}
.depth01>li>a {
    padding:15px 0;
    color:#fff;
}
.depth01>li:hover>a {
    color:#94775f;
}
.depth02 {
    display:none;
}
.depth02 li {
    font-weight:normal;
    font-size:0.7rem;
}
.depth02 li a{
    padding:10px 0;
    background:rgba(0,0,0,0.8);
    color:#fff;
}
.depth02 li:hover a {
    color:#94775f;
}
.lang {
    position:absolute;
    bottom:50%;
    right:0;
    transform:translateY(70%);
    font-family: 'Roboto', sans-serif;
}
.lang .h_btn {
    width:45px;
    height:22px;
    background:#94775f;
    color:#fff;
    text-align:center;
    line-height:22px;
    font-weight:bold;
    font-size:8px;
    border:0;
    cursor:pointer;
}
.m_menu {display:none;}
.pc_menu {
    position:absolute;
    top:10px;
    right:0;
    font-family: 'Roboto', sans-serif;
}
.pc_menu ul li{
    display:inline-block;
    font-size:0.65rem;
    padding-left:23px;
    border-left:1px solid #eaeaea;
    margin-left:23px;
}
.pc_menu ul li a {
    color:#fff;
}
.pc_menu ul li:first-child {
    padding-left:0;
    border-left:0;
    margin-left:0;
}
.fixed {
    background:rgba(255,255,255,0.6);
    height:145px;
}
.fixed .h_wrap .logo img {
    width:90%;
}
.fixed nav .depth01>li>a {
    color:#333;
}
.fixed nav .depth01>li:hover>a {
    color:#94775f;
}
.fixed .pc_menu li a{
    color:#333;
}
.fa-bars {display:none;}
/* header E */

/* .main_visual S */
.slick-slide img {
    width:100%;
}
.main_visual .slick-slide .m_main {display:none;}
.main_visual .slick-prev, .main_visual .slick-prev:hover, .main_visual .slick-prev:focus {
    background:url('../img/controls.png') 0 0 no-repeat;
    width:32px;
    height:31px;
    left:40px;
    top:50%;
    transform:translateY(-50%);
    z-index:9;
}
.main_visual .slick-prev:before, .main_visual .slick-next:before {
    display:none;
}
.main_visual .slick-next, .main_visual .slick-next:hover, .main_visual .slick-next:focus {
    background:url('../img/controls.png') -43px 0 no-repeat;
    width:32px;
    height:31px;
    right:40px;
    top:50%;
    transform:translateY(-50%);
    z-index:9;
}
.main_visual .slick-dots {
    bottom:30px;
}
.main_visual .slick-dots li button:before {
    font-size:15px;
}
/* .main_visual E */

/* .cont01 S */
.cont01 {
    max-width:1360px;
    width:100%;
    margin:0 auto;
    padding:203px 0 109px;
}
.cont01 h2{
    font-family: 'PT Serif', serif;
    font-weight:normal;
    font-size:3rem;
    text-align:center;
    margin-bottom:29px;
}
.cont01 .sub_tit {
    font-size:0.8rem;
    text-align:center;
    color:#666;
    margin-bottom:69px;
}
.cont01 .box_wrap {
    max-width:1160px;
    width:100%;
    border:1px solid #eaeaea;
    margin:0 auto;
}
.cont01 .box_wrap .box{
    width:20%;
    padding:22px;
    box-sizing:border-box;
    text-align:center;
}
.cont01 .box_wrap .box_bg {
    background:#eaeaea;
}
.bg_more {
    padding-bottom:43px !important;
}
.box p {
    margin-top:10px;
    font-size:0.55rem;
}
.box dt {
    font-size:0.8rem;
    margin:13px 0 43px;
}
.box dt:hover {
    color:#666;
}
.box dd {
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    color:#94775f;
}
.cont01 .slick-prev, .slick-prev:hover, .slick-prev:focus {
    background:transparent;
    width:60px;
    height:60px;
    left:-100px;
    top:50%;
    transform:translateY(-50%);
    z-index:9;
    border:1px solid #eaeaea;
    transition:.4s;
}
.cont01 .slick-prev:before, .cont01 .slick-next:before {
    font-family: 'xeicon';
    color:#333;
    transition:.4s;
}
.cont01 .slick-prev:hover, .slick-prev:hover, .slick-prev:focus,
.cont01 .slick-next:hover, .slick-next:hover, .slick-next:focus {
    background:#000;
}

.cont01 .slick-prev:hover:before, .cont01 .slick-next:hover:before {
    color:#eaeaea;
}
.cont01 .slick-next, .slick-next:hover, .slick-next:focus {
    background:transparent;
    width:60px;
    height:60px;
    right:-100px;
    top:50%;
    transform:translateY(-50%);
    z-index:9;
    border:1px solid #eaeaea;
}
/* .cont01 E */

/* .cont02 S */
.cont02 {
    height:969px;
    background:url('../img/cont02_bg.jpg') center/cover no-repeat;
}
.cont02 h2{
    color:#fff;
    font-family: 'PT Serif', serif;
    text-align:center;
    padding:273px 0 54px;
    font-size:2.2rem;
    font-weight:normal;
}
.cont02 .cont02_box{
    max-width:1024px;
    width:100%;
    height:284px;
    background:#fff;
    margin:0 auto;
    padding:3% 5% 5%;
    box-sizing:border-box;
    position:relative;
}
.cont02 .cont02_box p {
    margin-top:40px;
}
.cont02 .cont02_box p:first-of-type{
    float:left;
    width:25%;
    font-size:1.3rem;
    color:#94775f;
    position:relative;
}
.cont02 .cont02_box p:first-of-type::before {
    content:'';
    width:38%;
    height:1px;
    background:#94775f;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:-30%;
}
.cont02 .cont02_box p:last-of-type{
    width:65%;
    float:right;
    font-size:0.65rem;
    color:#666;
    line-height:2.5;
}
.cont02 .brand {
    /* width:149px; */
    height:60px;
    background:#94775f;
    color:#fff;
    line-height:60px;
    /* padding-left:31px; */
    padding-right:38px;
    box-sizing:border-box;
    font-size:0.7rem;
    font-family: 'PT Serif', serif;
    position:absolute;
    right:0;
    bottom:0;
    transition:width .4s;
    padding:0 30px;
}
.cont02 .brand .xi-long-arrow-right {
    margin-left:20px;
    font-size:1rem;
    /* line-height:60px; */
    vertical-align:text-bottom;
    transition:.4s;
}
.cont02 .brand:hover .xi-long-arrow-right {
    margin-left:30px;
}
.cont02 .brand:hover {
    /* width:169px; */
    background:#4b3e39;
}
/* .cont02 E */

/* .cont03 S */
.cont03 {
    /* height:971px; */
    background:url('../img/cont03_bg.jpg') center/cover no-repeat;
    padding-bottom:200px;
}
.cont03 h2 {
    font-size:2.5rem;
    text-align:center;
    font-family: 'PT Serif', serif;
    padding:153px 0 56px;
    font-weight:normal;
}
.cont03 .cont03_box {
    max-width:1160px;
    width:100%;
    background:#fff;
    margin:0 auto;
    overflow:hidden;
    padding:3%;
    box-sizing:border-box;
    position:relative;
}
.cont03 .cont03_box .left {
    width:60%;
    /* height:365px; */
    height:auto;
    float:left;
    overflow:hidden;
}
.cont03 .cont03_box .left .youtube {
    display:block;
    width:100%;
    height:365px;
    background:url('../img/main_you.jpg') center top no-repeat;
    background-size:cover;
}
.cont03 .cont03_box .right {
    width:35%;
    float:right;
}
.cont03 .cont03_box .right dt {
    font-size:1.15rem;
    color:#94775f;
    margin-bottom:30px;
}
.cont03 .cont03_box .right dd {
    font-size:0.7rem;
    color:#666;
    line-height:1.9;
}
.cont03 .movie {
    /* width: 184px; */
    /* height: 63px; */
    background: #94775f;
    color: #fff;
    line-height: 63px;
    /* padding-left: 30px; */
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    font-size: 0.8rem;
    transition: width .4s;
    padding:0 30px;
}
.cont03 .movie .xi-long-arrow-right {  
    margin-left:10px;
    font-size: 1rem;
    /* line-height: 60px; */
    vertical-align: text-bottom; /*글자를 기준으로 정렬*/
    transition: .4s;
}
.cont03 .movie:hover .xi-long-arrow-right {
    margin-left: 30px;
}
.cont03 .movie:hover {
    background:#4b3e39;
}
/* .cont03 E */

/* .cont04 S */
.cont04 {
    max-width:1160px;
    width:100%;
    margin:0 auto;
    overflow:hidden;
    padding-bottom:214px;
}
.cont04 h2 {
    font-size:2.2rem;
    font-weight:normal;
    text-align:center;
    padding:184px 0 75px;
    font-family: 'PT Serif', serif;
}
.cont04 .cont04_img_Wrap {
    height:auto;
    width:20%;
    float:left;
    position:relative;
}
.cont04 .cont04_img_Wrap:hover::before {
    content:'';
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    position:absolute;
    left:0;
    top:0;
}
.cont04 .cont04_img_Wrap .cont04_txt {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    color:#fff;
    opacity:0;
}
.cont04 .cont04_img_Wrap:hover .cont04_txt {
    opacity:1;
}
.cont04 .cont04_img_Wrap img {
    width:100%;
    height:100%;
}
/* .cont04 E */

/* footer S */
footer{
    background:#5e504a;
}
footer .m_f_wrap{display:none;}
footer .f_wrap {
    max-width:1400px;
    width:96%;
    margin:0 auto;
}
.f_wrap .f_top {
    overflow:hidden;
    font-size:0.6rem;
    color:#b9a789;
    height:69px;
    line-height:69px;
}
.f_wrap .f_top .f_menu {
    width:25%;
    float:left;
    /* border-right:1px solid #4b3e39; */
    box-sizing:border-box;
}
.f_wrap .f_top .f_menu li{
    display:inline-block;
    padding:0 3.2%;
}
.f_wrap .f_top .f_menu li a {
    display:block;
    color:#b9a789;
}
.f_wrap .f_top .f_menu li.f_logo {
    font-weight:bold;
}
.f_wrap .f_top .f_menu li.f_logo a{
    color:#fff;
}
.f_wrap .f_top .customer {
    width:67%;
    float:left;
    text-align:right;
}
.f_wrap .f_top .customer span {
    margin:0 1%;
}
.f_wrap .f_top .customer span:nth-of-type(2) {
    font-size:0.8rem;
    font-weight:bold;
}
.f_wrap .f_top .customer a {
    display:inline-block;
    width:35px;
    height:35px;
    border-radius:50%;
    background:#fff;
    text-align:center;
    line-height:35px;
    margin-left:4px;
}
.xi-facebook, .xi-instagram, .xi-youtube-play {
    font-size:12px;
}
.f_bottom {
    overflow:hidden;
    padding:60px 0 53px;
    border-top:1px solid #4b3e39;
}
.f_bottom .f_b_left{
    width:15%;
    float:left;
}
.f_bottom .f_b_right{
    width:70%;
    float:left;
    font-size:0.75rem;
    color:#b9a789;
}
.f_bottom .f_b_right p {
    font-weight:bold;
    margin-top:20px;
    color:#fff;
}
/* footer E */

/* .call_banner S */
.call_banner a {
    width:120px;
    height:120px;
    background:url('../img/talk.png') center/cover no-repeat;
    text-indent:-9999px;
    position:fixed;
    bottom:30px;
    right:30px;
}
/* .call_banner E */

@media screen and (max-width:1280px) {
    html,body {font-size:17px;}
    /* header */
    .pc, .pc_menu, .lang {display:none;}
    header {
        background:rgba(255,255,255,0.5);
        height:100px;
        line-height:100px;
    }
    header .logo {
        margin-left:45%;
    }
    header .h_wrap {
        position:relative;
    }
    .m_menu {
        display:block;
    }
    .m_menu ul {
        text-align:right;
        margin-right:2%;
    }
    .m_menu ul li {
        display:inline-block;
        padding-left:3%;
    }
    .fa-shopping-cart, .fa-search {
        color:#333;
    }
    .fa-bars {
        display:block;
        position:absolute;
        top:50%;
        left:2%;
        transform:translateY(-50%);
        color:#333;
    }

    /* .main_visual */
    .main_visual .slick-slide .pc_main {display:none;}
    .main_visual .slick-prev, .main_visual .slick-prev:hover, .main_visual .slick-prev:focus {
        display:none;
    }
    .main_visual .slick-next, .main_visual .slick-next:hover, .main_visual .slick-next:focus {
        display:none;
    }
    .main_visual .slick-slide .m_main {display:block;}

    /* .cont01 */
    .cont01 {
        padding:100px 0 50px;
    }
    .cont01 h2 {
        font-size:2rem;
    }
    .cont01 .box_wrap {
        max-width:1280px;
        width:96%;
    }
    .cont01 .box_wrap .box {
        width:100%;
    }
    .cont01 .slick-prev, .slick-prev:hover, .slick-prev:focus {
        background:#000;
        width:40px;
        height:40px;
        left:0;
        border:none;
    }
    .cont01 .slick-prev:before, .cont01 .slick-next:before {
        font-family: 'xeicon';
        color:#fff;
        line-height:40px;
        font-size:15px;
    }
    .cont01 .slick-next, .slick-next:hover, .slick-next:focus {
        background:#000;
        width:40px;
        height:40px;
        right:0;
        border:none;
    }

    /* .cont02 */
    .cont02 {display:none;}

    /* .cont03 */
    .cont03 {
        height:auto;
        padding-bottom:100px;
    }
    .cont03 h2 {
        padding:36px 0;
    }
    .cont03 .cont03_box {
        position:relative;
        overflow:unset;
        background:none;
    }
    .cont03 .cont03_box .left {
        width:100%;
        height:auto;
        float:inherit;
    }
    .cont03 .cont03_box .right {
        display:none;
    }
    .cont03_box .movie {
        width:184px;
        padding-left:30px;
        box-sizing:border-box;
        position:absolute;
        bottom:-70px;
        right:50%;
        transform:translateX(50%);
        z-index:1;
        font-size:0.8rem;
    }

    /* .con04 */
    .cont04 {
        padding-bottom:80px;
    }
    .cont04 h2 {
        padding:80px 0 35px;
    }
}

@media screen and (max-width:1024px) {
    html,body {font-size:15px;}
    /* .cont01 */
    .cont01 .m_none {display:none;}
    .cont01 .box_wrap {
        border:none;
        overflow:hidden;
    }
    .cont01 .box_wrap .box {
        width:48%;
        float:left;
        background:none;
    }
    .cont01 .box_wrap .box img {
        width:100%;
        display:inline-block;
        text-align:center;
    }

    /* cont03 */
    .cont03 .movie {
        font-size:1rem;
        padding-right:0;
        padding-left:35px;
    }
    .cont03 .movie .xi-long-arrow-right {
        font-size:1.3rem;
        margin-left:15px;
    }

    /* .cont04 */
    .cont04 {
        width:90%;
    }
    .cont04 .cont04_img_Wrap:last-child {display:none;}
    .cont04 .cont04_img_Wrap {
        width:33.33333%;
    }

    /* footer */
    footer {
        background:#eaeaea;
        padding:20px;
    }
    footer .f_wrap{display:none;}
    footer .m_f_wrap{display:block;}
    footer .m_f_wrap .m_customer a {
        display:inline-block;
        margin-bottom:15px;
    }
    footer .m_f_wrap .m_customer .xi-facebook,
    footer .m_f_wrap .m_customer .xi-instagram,
    footer .m_f_wrap .m_customer .xi-youtube-play {
        width:32px;
        height:32px;
        background:#fff;
        border-radius:50%;
        text-align:center;
        line-height:32px;
    }
    .m_f_wrap .m_f_info {
        font-size:0.7rem;
        color:#666;
        margin-bottom:20px;
    }
    .m_f_wrap .m_f_info p {
        margin-bottom:5px;
    }
    .m_f_wrap .m_f_menu li{
        display:inline-block;
        font-size:0.75rem;
        padding-right:10px;
        border-right:1px solid #eaeaea;
        margin-right:10px;
    }
    .m_f_wrap .m_f_menu li:last-child {
        padding-right:0;
        border-right:0;
        margin-right:0;
    }
    .m_f_wrap>p {
        font-size:0.75rem;
        font-weight:bold;
        margin-top:20px;
        color:#333;
    }

    /* .call_banner S */
    .call_banner a {
        width:100px;
        height:100px;
    }
}

@media screen and (max-width:800px) {
    header .logo {
        margin-left:40%;
    }

    /* cont03 */
    .cont03 h2 {
        padding-bottom:0;
    }
    .cont03_box .movie {
        width:180px;
        padding-left:30px;
        box-sizing:border-box;
        position:absolute;
        bottom:-70px;
        right:50%;
        transform:translateX(50%);
        z-index:1;
        font-size:0.8rem;
        font-size:1rem;
    }

    /* .call_banner S */
    .call_banner a {
        width:80px;
        height:80px;
        right:10px;
    }
}

@media screen and (max-width:500px) {
    header .logo img{
        width:80%;
        margin-left:-10%;
    }

    /* .cont03 */
    .cont03_box .movie {
        width:170px;
        height:50px;
        line-height:50px;
        bottom:-60px;
        font-size:0.85rem;
    }
    .cont03 .movie .xi-long-arrow-right {
        font-size:1.1rem;
        margin-left:20px;
    }

    /* .call_banner S */
    .call_banner a {
        width:70px;
        height:70px;
    }
}

@media screen and (max-width:350px) {
    header .logo img{
        width:50%;
    }
    .cont01 .box_wrap .box {
        width:50%;
    }
    .cont01 .box_wrap .box:first-child dl dt {
        margin-bottom:28px;
    }
    .cont03 h2 {
        font-size:2.3rem;
    }
    /* .call_banner S */
    .call_banner a {
        width:50px;
        height:50px;
    }
}